@import './Variables.scss';


.project-image {
    width: 100%;
}

.container{
    @include flex-container(auto, auto, center, center, column);
}

#project-container{
    margin: $outer-container-margin;
    text-decoration: none;
}

#project-container a {
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.project-text-wrapper{
    @include flex-container(auto, auto, center, center, column);
}

.project-title {
   text-decoration: none;
    color: #062B3D;
    margin-top: 20px;
    margin-bottom: 0;
}

.project-text {
    text-decoration: none;
    color: #404040;
}

// MEDIA QUERIES  
@media screen and ( min-width: 640px) {
    #project-container{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .project-title {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}