@import './Variables.scss';


#splash {
    background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 100%),url('../../assets/trees-horizon.jpg');
    // background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 100%),url('../../assets/horizon.jpg');
    -webkit-clip-path: circle(90.7% at 50% 5%);
    clip-path: circle(95.7% at 50% 5%);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 98.5vh;
    color: $main-white;
}

.splash-container{
    display: flex;
    justify-content: center;
    padding-top: 30vh;
}

.splash-text{
    @include flex-container(auto, auto, center, space-between, column);
    height: 30%;
}

.text-box{
    border: 1px solid #595959;
    background-color: $main-white;
}

.inner-text{
    color: #595959;
    margin: 8px;
}

.outer-box{
    padding: 8px;
    background-color: $main-white;
}

.github{
        font-size: 40px;
        color: $main-white;
        margin: 0 10px;
    }
    
.brands-wrapper{
    display: flex;
    flex-direction: row;        
}

.name-wrapper{
    @include flex-container(auto, auto, center, center, column);
}

.name{
    font-family: $heading;
    font-size: 40px;
    margin: 0;
}


// MEDIA QUERIES   
@media screen and (min-width: 640px) {
    #splash {
        // background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 100%),url('../../assets/trees-horizon.jpg');
        -webkit-clip-path: circle(100% at 50% 5%);
        clip-path: circle(100% at 50% 5%);
        background-size: cover;
        background-repeat: no-repeat;   
        height: 65vh;
        margin-top: 1.5vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    .splash-text {
        // border: 1px solid red;
        height: 60%;
    }
    .name-wrapper{
    @include flex-container(auto, auto, center, center, row);
}
    .brands-wrapper { 
        // border: 1px solid blue
    }
    .name{
    // font-family: $heading;
    font-size: 60px;
    // margin: 0;
    }
    .github{
        font-size: 60px;
        // color: $main-white;
        margin: 0 25px;
    }
    .inner-text{
        // color: #595959;
        // margin: 8px;
        font-size: 27px;
    }
}




//MEDIA QUERIES
// @media screen and (min-width: 400px){
//     .card {
//         width: 300px;
//     }

//     .about-text {
//         font-size: 1.3em;

//     }
// }

// @media screen and (min-width: 640px){
//     .about-text {
//         font-size: 1.5em;
//     }
// }



// @media screen and (min-width: 700px){
//     .card {
//         width: 400px;
//     }
// }

// @media screen and (min-width: 896px){
//     .card {
//         width: 260px;
//     }

//     .about-text {
//         font-size: 1.6em;
//     }

//     #text-bg-container{
//         display: flex;
//         align-items: center;
//         flex-direction: column;

//     }
//     section {
//         margin-top: 1em;
//     }

   
// }

// @media screen and (min-width: 1250px){
//     section {
//         margin-top: 8em;
//     }
// }
